body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* background-color: #eeebebce; */
  padding: 1rem;
}

.form {
  background-color: #ffffff;
  box-shadow: -2px 11px 17px 17px #0000000d;
  padding: 10px 15px;
  border-radius: 5px;
}

.input {
  border: none;
  border: 1px solid rgb(156 163 175);
  outline: none;
  border-radius: 5px;
  margin: 10 10px 10 10px;
  padding: 0.3rem;
  width: 98%;
}

.button {
  background-color: rgb(56 189 248 / 1);
  display: block;
  width: 20%;
  border-radius: 5px;
  padding: 0.3rem;
  border: none;
  margin-top: 5px;
  color: #2c2c2c;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.label {
  color: rgb(75 85 99 / 1);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin: 10 10px 10 10px;
  padding: 10 10px 10 10px;
}

.error {
  background-color: #fecaca;
  border-left: 0.2rem solid #dc2626;
  color: #b91c1c;
  font-size: 15px;
  padding: 0.4rem 2rem;
  font-weight: bold;
}

.success {
  background-color: #bbf7d0;
  border-left: 0.2rem solid #15803d;
  color: #15803d;
  font-size: 18px;
  padding: 0.4rem 2rem;
  font-weight: bold;
}

.info {
  background-color: #a5f3fc;
  border-left: 0.2rem solid #06b6d4;
  color: #06b6d4;
  font-size: 18px;
  padding: 0.4rem 2rem;
  font-weight: bold;
}

.layout-main {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  margin: 5px;
  padding: 0.4rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.btn {
  border: none;
  padding: 5px;
  border: 1px solid rgb(56 189 248 / 1);
  width: 30%;
  border-radius: 90px;
  background-color: white;
  color: rgb(56 189 248 / 1);
  font-weight: 100;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.not-drop {
  cursor: no-drop;
}

.none {
  display: none;
}

.block {
  display: block;
}

.bg-red {
  background-color: #15803d;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(1) {
  width: 30%;
  background-color: 1px solid #06b6d4;
}

tr:nth-child(2) {
  width: 20%;
}

tr:nth-child(3) {
  width: 15%;
}

tr:nth-child(4) {
  width: 35%;
}
tr:nth-child(5) {
  width: 35%;
}

tr,
td {
  padding: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(56 189 248 / 1);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(56 189 248 / 1) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img{
  z-index: 1000;
  position: absolute;
}
.loader{
  background-color: rgb(156 163 175);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  clip-path: circle(150% at 100% 0);
  transition: 0.3s ease-in-out clip-path;
}
.loader2{
  clip-path: circle(0% at 100% 0);
}
